<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <div class="searchbar">
    <input type="text" [(ngModel)]="searchTerm" required>
    <button (click)="doSearch()" (keyup.enter)="doSearch()" placeholder="Search tags... sad, happy">Search</button>
  </div>

  <div class="gallery">
      <img *ngFor="let photo of photos" [src]="generateImage(photo)" />
  </div>

  <div infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"></div>
</div>

<img src="../assets/spinner.gif" class="loader" *ngIf="loading" />